/*1*/
.black_nav {
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.wrap {
    width: 1226px;
    margin:0 auto;
}
.nav_left {
    float: left;
}
.black_nav li {
    float: left;
}
.black_nav a {
    font-size: 12px;
    color: #b0b0b0;
}
.black_nav span {
    margin:  0 6px;
    color: #424242;
}
.black_nav a:hover{
    color: #fff;
}
.nav_right {
    float: right;
}
.cart {
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 30px;
    position: relative;
}
.cart img {
    margin-right: 7px;
    height: 20px;
    vertical-align: middle;
}
.cart:hover {
    background-color: #fff;
}
.cart:hover a {
    color: #ff6700;
}
.hidden_cart{
    width: 320px;
    height: 0;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
    transition: all .5s;
    overflow: hidden;
    z-index: 666;
}
.cart:hover .hidden_cart{
    height: 100px;
    line-height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}







/*2*/




.white_nav {
    height: 100px;
    clear: both;
    line-height: 100px;
    position: relative;
}
.white_nav a {
    font-size: 16px;
    color: #333;
}
.logo {
    float: left;
    margin-top: 21.5px;
}
.nav_bar {
    float: right;
}
.nav_bar li {
    float: left;
    padding: 0 10px;
}
.nav_bar a:hover {
    color: #ff6700;
}


.last_li input {
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 0 10px;
    float: left;
    border-right: none;
    outline: none;
    transition: all .2s;
}
.last_li button {
    width: 52px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    float: left;
    font-size: 22px;
    transition: all .2s;
}
.nav_bar .last_li {
    margin-top: 25px;
    margin-left: 60px;
    position: relative;
    padding-right: 0;
}
.last_li button:hover {
    background-color: #ff6700;
    border-color: #ff6700;
    color: #fff;
}
.last_li input:focus {
    border-color: #ff6700;
}
.last_li input:focus+button{
    border-color: #ff6700;
}
.hot_word {
    position: absolute;
    right: 62px;
    height: 50px;
    top: 0;
    line-height: 50px;
}
.hot_word>span{
    color: #757575;
    background-color: #eee;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 3px;
    display: inline-block;
    line-height: 18px;
}
.last_li input:focus~.hot_word{
    display: none;
}
.hot_list{
    width: 245px;
    height: 305px;
    border: 1px solid #ff6700;
    box-sizing: border-box;
    border-top: none;
    position: absolute;
    top: 50px;
    left: 10px;
    display: none;
    z-index: 888;
    background-color: #fff;
}
.last_li input:focus~.hot_list{
    display: block;
}
.hidden{
    width: 100%;
    height: 230px;
    border-top: 1px solid #e0e0e0;
    background-color: paleturquoise;
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
    z-index: 555;
}
.nav_bar>li:hover>.hidden{
    display: block;
}
/*3*/
.banner img {
    width: 1226px;
}
/*4*/
.ad {
    margin-top: 14px;
    /*height: 170px;*/
}
.home_list {
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    padding: 3px;
    box-sizing: border-box;
}
.home_list li {
    float: left;
    width: 76px;
    padding: 16.5px 0;
}
.home_list a {
    color: rgba(255,255,255,.7);
    font-size: 12px;
}
.home_list img {
    width: 30px;
}
.ad_img {
    float: left;
    width: 316px;
    margin-left: 14px;
}
/*Êó±ê¸¡¶¯*/
.home_list a :hover {
    color:#fff;
}
/*ÒõÓ°*/
.ad_img:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}

/*5*/
.buy {
    margin-top: 25px;
}
.title {
    height: 58px;
    line-height: 58px;
    text-align: left;
    font-weight: 200;
    font-size: 22px;
}
.buy a {
    float: right;
    width: 70px;
    height: 25px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    line-height: 25px;
    margin-top: 16.5px;
}

.buy>a:first-child {
    border-right: 1px solid #e0e0e0;
}
.buy>a {
    display: inline-block;
    width: 33.5px;
    text-align: center;
    color: #b0b0b0;
    transition: all .5s;
    font-size: 19px;
}
.buy>a :hover{
    color: #ff6700;
}
.buy_box>div{
    width: 234px;
    height: 339px;
    border-top: 1px solid #e53935;
    background-color: rgba(0,0,0,.02);
    float: left;
    margin-right: 14px;
    position: relative;
}
.buy_box>div:last-child{
    margin-right: 0;
    border-top-color: #2196f3;
}
.buy_box>div:nth-child(2){
    border-top-color: #00c0a5;
}
.buy_box>div:nth-child(3){
    border-top-color:#ffac13;
}
.buy_box>div:nth-child(4){
    border-top-color: #83c44e;
}
.buy_box>div:first-child{
    background-color: #f1eded;
}

.time {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 54px;

}
.flashpurchase {
    margin: 25px 0;
}
.start_time {
    color: rgba(0,0,0,.54);
    font-size: 15px;
}




/*.mi_img{*/
    /*margin-top: 39px;*/
    /*margin-bottom: 22px;*/
/*}*/
/*.mi_title{*/
    /*color: #212121;*/
    /*margin: 0 auto;*/
    /*margin-bottom: 3px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*width: 194px;*/
/*}*/
/*.mi_desc{*/
    /*color: #b0b0b0;*/
    /*margin: 0 auto;*/
    /*margin-bottom: 12px;*/
    /*font-size: 12px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*width: 194px;*/
/*}*/
/*.mi_price{*/
    /*color: #ff6700;*/
/*}*/
/*.mi_price>del{*/
    /*color: #b0b0b0;*/
/*}*/
/*.youhui{*/
    /*background-color: #e53935;*/
    /*color: #fff;*/
    /*width: 64px;*/
    /*height: 20px;*/
    /*font-size: 12px;*/
    /*line-height: 20px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*margin-left: -32px;*/
/*}*/
/*.ad_img{*/
    /*width: 100%;*/
    /*margin: 40px 0;*/
/*}*/